<div style="overflow:auto; width:100%;height:100%;">
    <table class="table-formated">
        <thead>
            <tr>
                <th ng-show="cube1IsGrouped"></th>
                <th ng-repeat="mea in cube1.qDimensionInfo track by $index" ng-show="$index > 1 || ($index > 0 && !cube1IsGrouped)">
                    {{mea.qLabel[0]}}
                </th>
                <th ng-repeat="mea in cube1.qMeasureInfo" ng-bind="mea.qFallbackTitle" />
                <th>
                    Gráfica
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="group in cube1Grouped track by $index" ng-init="$groupIndex = $index">
                <td colspan="2" ng-show="group.category != ''">
                    <span class="group-text">{{group.category}}</span>
                </td>
            </tr>
            <tr ng-repeat="row in group.data track by $index" ng-init="$rowIndex = $index">
                <td rowspan="{{group.data.length}}" ng-show="$rowIndex == 0 && group.category != ''" class="text-center bg-white">
                    <div class="group-index">{{$groupIndex}}</div>
                </td>
                <td ng-repeat="col in row track by $index" ng-show="$index > 1 || ($index > 0 && !cube1IsGrouped)" ng-class="{'text-center': $index >= cube1.qDimensionInfo.length}">
                    <span ng-show="$index >= cube1.qDimensionInfo.length">
                        <span ng-show="layout.cube1Measures[$index-cube1.qDimensionInfo.length].isArrow">
                            <span ng-show="{{col.qNum > 0}}" class="text-success"><i class="lui-icon lui-icon--triangle-top" style="font-size:25px;"></i></span>
                            <span ng-show="{{col.qNum < 0}}" class="text-danger"><i class="lui-icon lui-icon--triangle-bottom" style="font-size:25px;"></i></span>
                            <span ng-show="{{col.qNum == 0}}" class="text-info"><i class="lui-icon lui-icon--triangle-right" style="font-size:25px;"></i></span>
                        </span>
                        <span ng-show="!layout.cube1Measures[$index-cube1.qDimensionInfo.length].isArrow">
                            {{col.qText}}
                        </span>
                    </span>
                    <span ng-show="$index < cube1.qDimensionInfo.length">
                        {{col.qText}}
                        <img class="infoIco" src="/Extensions/multicube/question.png" ng-click="showFrame(row[0].qText)" ng-show="$index == 2" />
                    </span>
                </td>
                <td>
                    <canvas id="{{ 'chart-'+row[0].qText }}" style="width:150px !important;height:60px" ng-click="goUrl(row[0].qText)"></canvas>
                </td>
            </tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
    <div ng-show="sFrame" style="position:absolute;border:none;width:80%;height:100%;top: 0; left: 50%;">
        <div style="position: relative; left: -50%;width:100%;height:100%;">
            <button class="lui-button lui-button--success" ng-click="sFrame=false">
                <i class="lui-icon lui-icon--close"></i>
            </button>
            <iframe ng-src='{{idk}}' style='border:none;width:100%;height:100%;'></iframe>
        </div>
    </div>
</div>
